<script>
    import {onMount} from 'svelte';
    import GlobalMessage from "./GlobalMessage.svelte";
    import InputText from "./InputText.svelte";
    import Maps from "./Maps.svelte";

    let API_KEY = "AIzaSyBUlb_Y0Odv-oJb1s6dSQlq0zMJ7bjLl4U";
    export let latitude;
    export let longitude;
    export let street;
    export let plz;
    export let city;
    export let streetValidation;
    export let plzValidation;
    export let cityValidation;

    let globalMessage = "";

    $:{
        if (street && plz && city) {
            get();
        }
    }

    async function get() {
        let link = `https://maps.googleapis.com/maps/api/geocode/json?address=${street}+${plz}+${city}+CH&key=${API_KEY}`;

        const response = await fetch(link);
        if (response.status === 200) {
            let json = await response.json();
            if (json.results.length > 0) {
                let center = json.results[0].geometry.location;
                latitude = center.lat;
                longitude = center.lng;
            } else {
                let json = await response.json();
                globalMessage = json.message;
                console.log(json);
            }
        }
    }

</script>

<GlobalMessage message={globalMessage}/>

<div class="row">
    <div class="col-12">
        <InputText bind:value={street} bind:validate={streetValidation} name="street" label="Street" required="true"/>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <InputText bind:value={plz} bind:validate={plzValidation} name="plz" label="Post Code" required="true"/>
    </div>
    <div class="col-6">
        <InputText bind:value={city} bind:validate={cityValidation} name="city" label="City" required="true"/>
    </div>
</div>
<Maps latitude={latitude} longitude={longitude} height="400px"/>
<style>
</style>
