<script>
    import Router from 'svelte-spa-router'
    import Register from "./Register.svelte";
    import Confirmation from "./Confirmation.svelte";
    import Navbar from "./Navbar.svelte";
    import Login from "./Login.svelte";
    import Home from "./Home.svelte";
    import MyProfile from "./MyProfile.svelte";
    import Product from "./Product.svelte";
    import Products from "./Products.svelte";
    import Profiles from "./Profiles.svelte";
    import MyProducts from "./MyProducts.svelte";
    import Profile from "./Profile.svelte";
    import {env} from './store.js'


    const routes = {
        '/': Home,
        '/home': Home,
        '/login': Login,
        '/register': Register,
        '/confirmation/:token': Confirmation,
        '/confirmation': Confirmation,
        '/myProfile': MyProfile,
        '/product': Product,
        '/product/:id': Product,
        '/products': Products,
        '/products/:email': Products,
        '/profiles': Profiles,
        '/myProducts': MyProducts,
        '/profile': Profile
    }

</script>
<Navbar/>
<div class="container pt-5 pb-5">
    <Router {routes} on:routeLoaded={(e) => env.location.set(e.detail.name)}/>
</div>
<style>
</style>
