<script>
    import {push, pop, replace, querystring} from 'svelte-spa-router'
    import GlobalMessage from './GlobalMessage.svelte';
    import InputText from "./InputText.svelte";
    import TokenData from "./models/TokenData";
    import {UserService} from "./services/UserService";

    export let params;

    const service = new UserService();
    const data = new TokenData();
    data.token = params.token;

    let globalMessage = "";
    let validate;

    async function post() {
        if (validate()) {
            try {
                await service.comfirm(data);
                pop();
            } catch (e) {
                globalMessage = e.message;
            }
        }
    }

    function handleKeydown(event, fn) {
        if (event.keyCode === 13) {
            fn();
        }
    }

</script>

<form on:keydown={(e) => handleKeydown(e, post)}>
    <GlobalMessage message={globalMessage}/>

    <div class="row">
        <div class="col-12">
            <InputText bind:value={data.token} name="token" label="Token" required=true bind:validate={validate}/>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <button type="button" on:click="{()=>pop()}" class="btn btn-link">Back</button>
            <button type="button" on:click="{()=>post()}" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>

<style>
</style>
