<script>
    import InputFile from "./InputFile.svelte";
    import {onMount} from 'svelte';
    import Croppie from 'croppie';

    export let label = "";
    export let image;
    export let required = true;
    export let validate = "";

    let imageUrl = "";
    let cropped = false;
    let croppie;
    let imgComponent;

    $:{
        if (image) {
            imageUrl = "#";
        }
    }

    onMount(() => {
        croppie = new Croppie(imgComponent, {
            viewport: {
                width: 300,
                height: 200
            }
        });
        croppie.bind({
            url: imageUrl,
        });
        imgComponent.addEventListener('update', () => {
            crop();
        });

        const img = document.querySelector("img.cr-image");
        img.setAttribute("alt", "");
    });


    async function crop() {
        const cropImage = new Promise(function (resolve, reject) {
            croppie.result('base64')
                    .then((res) => {
                        resolve(res);
                    })
                    .catch((e) => {
                        reject(e)
                    });
        });

        image = await cropImage;
        cropped = true;
    }

    function readImage(e) {
        if (e.target.value) {
            let reader = new FileReader();

            reader.onload = function (e) {
                imageUrl = e.target.result;
                croppie.bind({
                    url: imageUrl,
                });
                crop();
            };
            reader.readAsDataURL(e.target.files[0]);
        }
    }

</script>

<div class="row">
    <div class="col-12">
        <InputFile value={imageUrl} name="image" label={label} required={required}
                   bind:validate={validate} accept="image/*" onchange={(e)=>readImage(e)}/>
    </div>
</div>
<div class="row mt-3 mb-5">
    <div class="col-12">
        <div>
            <img class="{cropped ? 'd-none center' : 'center'}" src="{image}" alt="">
        </div>
        <div class="card">
            <div bind:this={imgComponent} id="item"></div>
        </div>
    </div>
</div>

<style>
    .card {
        background: #cccccc;
        width: 100%;
        height: 300px;
        margin: 0 auto;
    }

    .center {
        z-index: 2;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 300px;
        max-width: 400px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        object-fit: cover;
    }

</style>
