<script>
    import {validateEmail} from './Validation.svelte';

    export let value = "";
    export let error = "";
    export let name = "";
    export let label = "";
    export let required = false;
    export let email = false;
    export let min = false;
    export let max = false;
    export let noLabel = false;
    export let noFormGroup = false;
    export let validate;
    export let clazz = "";
    export let disabled = false;
    export let rows = 8;

    let labelIntern = required ? label + "*" : label;

    validate = () => {
        error = "";

        if (required) {
            error += value && value.length === 0 ? "Value is required. " : "";
        }
        if (email) {
            error += !validateEmail(value) ? "Email is not valid. " : "";
        }
        if (min) {
            error += value && value.length < min ? `Min. length is ${min}. ` : "";
        }
        if (max) {
            error += value && value.length > max ? `Max. length is ${max}. ` : "";
        }
        return !error;
    }


</script>

<div class={clazz}>
    {#if !noLabel}
        <label for="{name}">{labelIntern}</label>
    {/if}

    <div class="{noFormGroup ? '' : 'form-group'}">
        <textarea bind:value={value} class:is-invalid={error} rows={rows} class="form-control"
                  id="{name}" placeholder="{label}" on:change="{()=>validate()}" disabled={disabled}></textarea>
        <div class="invalid-feedback">{error}</div>
    </div>
</div>
<style>
</style>
