<script>
    export let value = "";
    export let error = "";
    export let name = "";
    export let label = "";
    export let required = false;
    export let noLabel = false;
    export let validate;
    export let clazz = "";
    export let disabled = false;
    export let accept = "";
    export let onchange = (e)=>{};

    let labelIntern = required ? label + "*" : label;

    validate = () => {
        error = "";

        if (required) {
            error += value.length === 0 ? "Value is required. " : "";
        }
        return !error;
    }


</script>

<div class={clazz}>
    {#if !noLabel}
        <label for="{name}">{labelIntern}</label>
    {/if}

    <div class="custom-file">
            <input bind:value={value} class:is-invalid={error} type="file" class="custom-file-input" accept="{accept}"
                   id="{name}" placeholder="{label}" on:change="{(e)=>{validate();onchange(e);}}" disabled={disabled}>
        <label class="custom-file-label" for="customFile">Choose image</label>
        <div class="invalid-feedback">{error}</div>
    </div>
</div>
<style>
</style>
