<script>
    import {push, pop, replace} from 'svelte-spa-router'
    import InputText from "./InputText.svelte";
    import {callValidation} from "./Validation.svelte";
    import GlobalMessage from "./GlobalMessage.svelte";
    import {onMount} from 'svelte';
    import {env} from './store.js';
    import {UserService} from "./services/UserService";
    import LoginData from "./models/LoginData";

    const service = new UserService();
    let globalMessage = "";
    const data = new LoginData();
    data.username = "fabianwipfli@gmx.ch";

    const validate = new LoginData();

    async function login() {
        if (callValidation(validate)) {
            try {
                const response = await service.login(data);
                env.login.set(response.access_token);
                push('/home');
            } catch (e) {
                env.login.set("");
            }
        }
    }

    function handleKeydown(event, fn) {
        if (event.keyCode === 13) {
            fn();
        }
    }

</script>

<form on:keydown={(e) => handleKeydown(e, login)}>
    <GlobalMessage message={globalMessage}/>

    <div class="row">
        <div class="col-12">
            <InputText bind:value={data.username} name="email" label="Email" required=true email=true
                       bind:validate={validate.username}/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <InputText bind:value={data.password} name="password" label="Password" password=true required=true min=8
                       bind:validate={validate.password}/>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <button type="button" on:click="{()=>pop()}" class="btn btn-link">Back</button>
            <button type="button" on:click="{()=>login()}" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>

<style>
</style>
