<script>
    import {onMount} from 'svelte';

    let API_KEY = "AIzaSyBUlb_Y0Odv-oJb1s6dSQlq0zMJ7bjLl4U";
    let readyGeolocate;
    let readyInit;
    let container;
    let map;
    export let latitude = null;
    export let longitude = null;
    export let height = "100vh";
    export let width = "100%";

    onMount(async () => {
        init();
    });

    function init() {
        try {
            let center = new google.maps.LatLng(latitude, longitude);
            map = new google.maps.Map(container, {
                zoom: 15,
                center: center
            });
            readyInit = true;
        } catch (e) {
            setInterval(() => {
                if (!readyInit) {
                    init();
                }
            }, 1000);
        }
    }

    $:{
        if (longitude && latitude) {
            geolocate(latitude, longitude);
        }
    }

    export function geolocate(latitude, longitude) {
        try {
            new google.maps.Marker();
            let center = new google.maps.LatLng(latitude, longitude);
            map = new google.maps.Map(container, {
                zoom: 15,
                center: center
            });
            new google.maps.Marker({
                position: center,
                map: map
            });
            readyGeolocate = true;
        } catch (e) {
            setInterval(() => {
                if (!readyGeolocate) {
                    geolocate();
                }
            }, 1000);
        }
    }
</script>

<svelte:head>
    <!--<script defer async src="https://maps.googleapis.com/maps/api/js?key={API_KEY}&libraries=places"></script>-->
</svelte:head>
<div style="height:{height};width:{width}" class="mb-2" bind:this={container}></div>
<style>
</style>
