<script>
    import GlobalMessage from "./GlobalMessage.svelte";
    import InputText from "./InputText.svelte";
    import {callValidation} from "./Validation.svelte";
    import AddressMaps from "./AddressMaps.svelte";
    import {onMount} from 'svelte';
    import ImageCropper from "./ImageCropper.svelte";
    import InputTextArea from "./InputTextArea.svelte";
    import {env} from './store.js'
    import {UserService} from "./services/UserService";
    import TokenData from "./models/TokenData";
    import UserData from "./models/UserData";
    import {pop} from 'svelte-spa-router'

    const loginStore = env.login;
    const service = new UserService();

    let globalMessage = "";
    let data = new UserData("", "", "", "", "", "", "", "", "", "", "");
    let validate = new UserData("", "", "", "", "", "", "", "", "", "", "");

    onMount(() => {
        get();
    });

    async function get() {
        const tokenData = new TokenData($loginStore);
        try {
            const response = await service.getProfile(tokenData);
            data = response[0];
        } catch (e) {
            globalMessage = e.message;
        }
    }

    async function update() {
        if (callValidation(validate) && data.latitude && data.longitude) {
            const tokenData = new TokenData($loginStore);
            try {
                await service.updateProfile(data, tokenData);
            } catch (e) {
                globalMessage = e.message;
            }
        }
    }

    function handleKeydown(event, fn) {
        if (event.keyCode === 13) {
            fn();
        }
    }

</script>

<form on:keydown={(e) => handleKeydown(e, update)}>
    <GlobalMessage message={globalMessage}/>

    <ImageCropper bind:image={data.image} bind:validate={validate.image} label="Profile" required="true"/>
    <div class="row">
        <div class="col-12">
            <InputText bind:value={data.name} name="name" label="Name" required=true bind:validate={validate.name}/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <InputText bind:value={data.firstname} name="firstname" label="Firstname" required=true
                       bind:validate={validate.firstname}/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <InputText bind:value={data.email} name="email" label="Email" required=true email=true
                       bind:validate={validate.email} disabled="true"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <InputTextArea bind:value={data.description} name="description" label="Description" rows="5" max="200"
                           bind:validate={validate.description} required="true"/>
        </div>
    </div>
    <AddressMaps bind:street={data.street} bind:plz={data.plz} bind:city={data.city} bind:longitude={data.longitude}
                 bind:latitude={data.latitude}
                 bind:cityValidation={validate.city} bind:plzValidation={validate.plz}
                 bind:streetValidation={validate.street}/>
    <div class="row mt-4">
        <div class="col-12">
            <button type="button" on:click="{()=>pop()}" class="btn btn-link">Back</button>
            <button type="button" on:click="{()=>update()}" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>

<style>
</style>
