<script>
    import {push} from 'svelte-spa-router'
    import {env} from './store.js'
    import GlobalMessage from "./GlobalMessage.svelte";
    import {onMount} from 'svelte';
    import {ProductService} from "./services/ProductService";

    const service = new ProductService();
    const loginStore = env.login;

    let globalMessage = "";
    let products = [];

    onMount(async () => {
        await getByToken();
    });

    async function getByToken() {
        try {
            products = await service.getProducts();
        } catch (e) {
            globalMessage = e.message;
        }
    }

</script>

<GlobalMessage message={globalMessage}/>

<div>
    <button class="btn btn-primary btn-lg" type="button" on:click={()=>push("/product")}><i class="fas fa-plus"></i></button>
</div>
<br>
<div class="flex-container">
    {#each products as item}
        <div class="card height100">
            <a href="#/product/{item.id}"><img src="{item.image}" class="card-img-top square" alt=""></a>
            <div class="ml-3 mr-3 card-body height100">
                <div class="row">
                    <h5><span class="badge badge-secondary">{item.price} CHF</span></h5>
                    <p class="ml-auto"><span class="text-muted">{item.quantity} p.</span></p>
                </div>
                <div class="row">
                    <p class="text-muted">{item.description}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <small class="text-muted ml-2">Posted: {item.createDateTime}</small>
                </div>
            </div>
        </div>
    {:else}
        <br>
        <p class="mx-auto">No products found.</p>
    {/each}
</div>
<style>

    .flex-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .height100 {
        height: 100%;
    }

    @media (min-width: 350px) {
        .flex-container {
            grid-template-columns: 1fr;
        }
    }

    @media (min-width: 768px) {
        .flex-container {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @media (min-width: 1200px) {
        .flex-container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
</style>
