<script>
    import {push} from 'svelte-spa-router'
    import {onMount} from 'svelte';
    import {env} from './store.js'
    import Pwa from "./Pwa.svelte";
    import {UserService} from "./services/UserService";
    import LoginData from "./models/LoginData";

    const service = new UserService();
    const loginStore = env.login;

    let image;
    let name;
    let firstname;
    let email;

    let loginData = new LoginData();
    let loginValid = false;
    let loginFormInvalid = false;
    let hamburgerButton = true;

    onMount(() => {
        handleToggleNavigation();
        env.location.subscribe(value => {
            hamburgerButton = value === "Home" || value === "Ut";
        });
        loginStore.subscribe((value) => {
            if (value) {
                localStorage.setItem("token", value);
                get(value);
            } else {
                localStorage.removeItem("token");
            }
        });
    });

    async function get(token) {
        const response = await fetch(`/api/profile`, {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': token
            }
        });
        if (response.status === 200) {
            let json = await response.json();
            image = json[0].image;
            name = json[0].name;
            firstname = json[0].firstname;
            email = json[0].email;
            loginValid = true;
        } else {
            loginValid = false;
        }
    }

    async function logout() {
        loginStore.set("");
        loginValid = false;
    }

    async function login() {
        try {
            const response = await service.login(loginData);
            loginStore.set(response.access_token);
            loginFormInvalid = false;
        } catch (e) {
            loginFormInvalid = true;
        }
    }

    function handleKeydown(event, fn) {
        if (event.keyCode === 13) {
            fn();
        }
    }

    function handleToggleNavigation() {
        const idButton = "nav-button";
        const idNavigation = "navbar-responsive";
        document.addEventListener("click", function (event) {
            const navbar = document.getElementById(idNavigation);
            if (event.target && event.target.id === idButton && navbar.classList.contains("collapse")) {
                navbar.classList.remove("collapse");
            } else {
                navbar.classList.add("collapse");
            }
        });
    }

</script>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand desktop" href="/"><i class="fas fa-leaf"></i>
            <div class="ml-2">Kopfsalat</div>
        </a>
        {#if hamburgerButton}
            <button class="mobile navbar-toggler order-first" type="button" aria-controls="navbar-responsive" aria-expanded="false" aria-label="Toggle navigation">
                <span id="nav-button" class="navbar-toggler-icon"></span>
            </button>
        {:else}
            <button class="mobile btn btn-link text-white" type="button" on:click={()=>push("/home")}>
                <span class="fas fa-arrow-left"></span>
            </button>
        {/if}
        <div class="collapse navbar-collapse" id="navbar-responsive">

            <!-- Mobile -->
            <ul class="navbar-nav ml-auto mobile">
                {#if loginValid}
                    <li class="nav-item text-center">
                        <div class="nav-link m-1 ml-4 p-0 cursor d-inline-block" on:click={()=>()=>push("/myProfile")()}>{firstname} {name}</div>
                        <div class="text-muted m-2 p-0 cursor d-inline-block" on:click={()=>logout()}><i class="fas fa-sign-out-alt"></i></div>
                    </li>
                    <li class="nav-item mx-auto">
                        <div class="nav-link text-center m-1 p-0 cursor" on:click={()=>()=>push("/myProfile")()}><img class="border-radius" src={image} alt=""></div>
                    </li>
                {:else}
                    <li class="nav-item">
                        <div class="nav-link text-center cursor" on:click={()=>push("/login")}>Login</div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link text-center cursor" on:click={()=>push("/register")}>Register</div>
                    </li>
                {/if}
                <li>
                    <hr class="border border-light">
                </li>
                <li class="nav-item">
                    <div class="nav-link text-center cursor" on:click={()=>push("/home")}>Home</div>
                </li>
                {#if loginValid}
                    <li class="nav-item">
                        <div class="nav-link text-center cursor" on:click={()=>push("/myProducts")}>Products</div>
                    </li>
                {/if}
                <li class="nav-item">
                    <div class="nav-link text-center cursor" on:click={()=>push("/home")}>Contact</div>
                </li>
                <li>
                    <Pwa/>
                </li>
            </ul>

            <!-- Desktop -->
            <ul class="navbar-nav ml-auto desktop">
                {#if loginValid}
                    <li class="nav-item">
                        <div class="nav-link vertical-center font-large cursor" on:click={()=>push("/home")}>Home</div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link vertical-center font-large cursor" on:click={()=>push("/myProducts")}>Products</div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link vertical-center font-large cursor" on:click={()=>push("/home")}>Contact</div>
                    </li>
                    <li class="ml-5">
                    </li>
                    <li class="nav-item vertical-center">
                        <div class="nav-link font-large cursor" on:click={()=>push("/myProfile")}><img class="border-radius" src={image} alt=""></div>
                    </li>
                    <li class="nav-item vertical-center">
                        <p class="nav-link vertical-center cursor font-large cursor" on:click={()=>logout()}><i class="fas fa-sign-out-alt"></i></p>
                    </li>
                {:else}
                    <li class="nav-item">
                        <div class="nav-link font-large cursor" on:click={()=>push("/home")}>Home</div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link font-large cursor" on:click={()=>push("/register")}>Register</div>
                    </li>
                    <li class="ml-5">
                    </li>
                    <li class="nav-item">
                        <form on:keydown={(e) => handleKeydown(e, login)}>
                            <div class="form-row">
                                <div class="col">
                                    <input id="email" bind:value={loginData.username} type="text" class="form-control" placeholder="Email" class:is-invalid={loginFormInvalid}>
                                </div>
                                <div class="col">
                                    <input id="password" bind:value={loginData.password} type="password" class="form-control" class:is-invalid={loginFormInvalid}
                                           placeholder="Password">
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-primary" on:click={()=>login()}>Login</button>
                                </div>
                            </div>
                        </form>
                    </li>
                {/if}
            </ul>
        </div>
    </div>
</nav>

<style>
    .navbar {
        min-height: 80px;
    }

    .navbar-dark .navbar-toggler {
        border: none;
    }

    .border-radius {
        border-radius: 40px;
        height: 80px;
        width: 80px;
    }

    .vertical-center {
        position: relative;
        top: 25%;
    }

    .mobile {
        display: inherit;
    }

    .desktop {
        display: none;
    }

    .cursor {
        cursor: pointer;
    }

    .font-large {
        font-size: large;
    }

    @media (min-width: 992px) {
        .mobile {
            display: none;
        }

        .desktop {
            display: inherit;
        }
    }
</style>
