<script>
    import {push, pop, replace} from 'svelte-spa-router'
    import {env} from './store.js'
    import GlobalMessage from "./GlobalMessage.svelte";
    import InputText from "./InputText.svelte";
    import {callValidation} from "./Validation.svelte";
    import InputTextArea from "./InputTextArea.svelte";
    import ImageCropper from "./ImageCropper.svelte";
    import {onMount} from 'svelte';
    import {ProductService} from "./services/ProductService";
    import TokenData from "./models/TokenData";
    import ProductData from "./models/ProductData";

    export let params;

    const loginStore = env.login;
    const service = new ProductService();

    let edit = false;
    let globalMessage = "";
    let data = new ProductData("", "Neuer Apfel", "11.95", "Irgendwas", "", "20", "");
    let validate = new ProductData("", "", "", "", "", "", "");

    onMount(() => {
        if (params.id) {
            get(params.id);
            edit = true;
        }
    });

    async function create() {
        if (callValidation(validate)) {
            const tokenData = new TokenData($loginStore);
            try {
                await service.createProduct(data, tokenData);
                pop();
            } catch (e) {
                globalMessage = e.message;
            }
        }
    }

    async function get(id) {
        try {
            data = await service.getProduct(id);
            pop();
        } catch (e) {
            globalMessage = e.message;
        }
    }

    async function update() {
        if (callValidation(validate)) {
            const tokenData = new TokenData($loginStore);
            try {
                await service.updateProduct(data, tokenData);
                pop();
            } catch (e) {
                globalMessage = e.message;
            }
        }
    }

    async function createOrUpdate() {
        if (edit) {
            await update();
        } else {
            await create();
        }
    }

    function handleKeydown(event, fn) {
        if (event.keyCode === 13) {
            fn();
        }
    }

</script>

<form on:keydown={(e) => handleKeydown(e, createOrUpdate)}>
    <GlobalMessage message={globalMessage}/>

    <div class="row">
        <div class="col-8">
            <InputText bind:value={data.name} name="name" label="Name" required=true bind:validate={validate.name}/>
        </div>
        <div class="col-4">
            <InputText bind:value={data.quantity} name="quantity" label="Quantity" number="true" required=true
                       bind:validate={validate.quantity}/>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <InputText bind:value={data.price} name="price" label="Price" required=true float="true"
                       bind:validate={validate.price}/>
        </div>
        <div class="col-4">
            <InputText value="CHF" name="currency" label="Currency"
                       disabled="true"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <InputTextArea bind:value={data.description} name="Description" label="Description" required=true
                           bind:validate={validate.description}/>
        </div>
    </div>
    <ImageCropper label="Image" bind:image={data.image} bind:validate={validate.image} required="true"/>
    <div class="row mt-4">
        <div class="col-12">
            <button type="button" on:click="{()=>pop()}" class="btn btn-link">Back</button>
            <button type="button" on:click="{()=>createOrUpdate()}" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
