<script>
    import {push, pop, replace} from 'svelte-spa-router'
    import GlobalMessage from "./GlobalMessage.svelte";
    import {onMount} from 'svelte';
    import Profile from "./Profile.svelte";

    export let reload = false;
    export let emails = [];
    export let params = {};
    export let profile = true;

    let globalMessage = "";
    let products = [];

    onMount(async () => {
        if (params.email) {
            let array = [];
            array.push(params.email);
            await getByEmails(array);
        }
    });

    $: {
        if (reload) {
            products = [];
            if (emails.length > 0) {
                getByEmails(emails);
            }
            reload = false;
            emails = [];
        }
    }

    async function getByEmails(emails) {
        let params = encodeURI(emails.join(","));
        const response = await fetch(`/api/product/?email=${params}`, {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        });
        if (response.status === 200) {
            products = await response.json();
        } else {
            let json = await response.json();
            globalMessage = json.message;
        }
    }

</script>

{#if profile}
    <Profile email="{params.email}"/>
    <br>
    <hr>
    <br>
    <br>

{/if}

<GlobalMessage message={globalMessage}/>

<div class="flex-container">
    {#each products as item}
        <div class="card height100">
            <img src="{item.image}" class="card-img-top square" alt="">
            <div class="ml-3 mr-3 card-body height100">
                <div class="row">
                    <h5><span class="badge badge-secondary">{item.price} CHF</span></h5>
                    <p class="ml-auto"><span class="text-muted">{item.quantity} p.</span></p>
                </div>
                <div class="row">
                    <p class="text-muted">{item.description}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <small class="text-muted ml-2">Posted: {item.createDateTime}</small>
                </div>
            </div>
        </div>
    {:else}
        <br>
        <p class="mx-auto">No products found.</p>
    {/each}
</div>
<style>

    .flex-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .height100 {
        height: 100%;
    }

    @media (min-width: 350px) {
        .flex-container {
            grid-template-columns: 1fr;
        }
    }

    @media (min-width: 768px) {
        .flex-container {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @media (min-width: 1200px) {
        .flex-container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
</style>
