<script>
    import GlobalMessage from "./GlobalMessage.svelte";
    import {onMount} from 'svelte';
    import {UserService} from "./services/UserService";

    export let reload = false;
    export let emails = [];

    const service = new UserService();

    let globalMessage = "";
    let profiles = [];

    onMount(() => {
    });

    $: {
        if (reload) {
            if (emails.length > 0) {
                get(emails);
            } else {
                clearProfiles();
            }
            reload = false;
            emails = [];
        }
    }

    async function get(emailList) {
        try {
            profiles = await service.getProfiles(emailList);
        } catch (e) {
            globalMessage = e.message;
        }
    }

    function clearProfiles() {
        profiles = [];
    }

</script>

<GlobalMessage message={globalMessage}/>

<div class="flex-container">
    {#each profiles as item}
        <div class="card height100">
            <a href="#/products/{item.email}"><img src="{item.image}" class="card-img-top square" alt=""></a>
            <div class="ml-3 mr-3 card-body height100">
                <div class="row ml-2 mb-2">
                    <h5>{item.firstname} {item.name}</h5>
                </div>
                <div class="row">
                    <p class="text-muted">{item.description}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <small class="text-muted ml-2">Since: {item.createDateTime}</small>
                    <small class="text-muted ml-auto mr-2">{item.plz} {item.city}</small>
                </div>
            </div>
        </div>
    {:else}
        <br>
        <p class="mx-auto">No users found.</p>
    {/each}
</div>

<style>

    .flex-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .height100 {
        height: 100%;
    }

    @media (min-width: 350px) {
        .flex-container {
            grid-template-columns: 1fr;
        }
    }

    @media (min-width: 768px) {
        .flex-container {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (min-width: 1200px) {
        .flex-container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
</style>
