<script>
    import {onMount} from 'svelte';
    import Maps from "./Maps.svelte";
    import {UserService} from "./services/UserService";
    import UserData from "./models/UserData";

    export let email;

    const service = new UserService();

    let data = new UserData("", "", "", "", "", "", "", "", "", "", "");

    onMount(() => {
        get();
    });

    async function get() {
        try {
            const response = await service.getProfiles([email]);
            data = response[0];
        } catch (e) {
            console.log(e.message);
        }
    }

</script>


<div class="row">
    <div class="col-md-5 mb-4">
        <div class="card">
            <img src="{data.image}" class="card-img-top" alt="">
            <div class="ml-3 mr-3 card-body">
                <div class="row">
                    <h5>{data.firstname} {data.name}</h5>
                </div>

                <div class="row">
                    <small class="text-muted">{data.description}</small>
                </div>
                <br>
                <small class="row">
                    <address class="text-muted">
                        {data.street}<br>
                        {data.plz} {data.city}<br>
                        <a href="mailto:{data.email}">{data.email}</a>
                    </address>
                </small>
            </div>
        </div>
    </div>
    <div class="col-md-7 d-none d-md-block">
        <Maps latitude={data.latitude} longitude={data.longitude} height="400px"/>
    </div>
</div>

<style>
</style>
