<script>

    let deferredPrompt;
    let setupButton;

    //Pwa
    window.onload = () => {
        'use strict';

        if ('serviceWorker' in navigator) {
            try {
                navigator.serviceWorker.register('service.worker.js');
            } catch (e) {
                console.log(e);
            }
        }
    };

    window.addEventListener('beforeinstallprompt', (e) => {
        // Prevent Chrome 67 and earlier from automatically showing the prompt
        e.preventDefault();
        // Stash the event so it can be triggered later.
        deferredPrompt = e;
        // Show the setup button
        setupButton.style.display = 'none';
    });

    function installApp() {
        // Show the prompt
        deferredPrompt.prompt();
        setupButton.disabled = true;
        // Wait for the user to respond to the prompt
        deferredPrompt.userChoice
                .then((choiceResult) => {
                    if (choiceResult.outcome === 'accepted') {
                        console.log('PWA setup accepted');
                        // hide our user interface that shows our A2HS button
                        setupButton.style.display = 'none';
                    } else {
                        console.log('PWA setup rejected');
                    }
                    deferredPrompt = null;
                });
    }
</script>
<div class="text-center mt-3">
    <button class="btn btn-primary" bind:this={setupButton} on:click={()=>installApp()}>Install</button>
</div>
