<script>
    import {push, pop, replace, location} from 'svelte-spa-router'
    import GlobalMessage from "./GlobalMessage.svelte";
    import InputText from "./InputText.svelte";
    import {callValidation} from "./Validation.svelte";
    import AddressMaps from "./AddressMaps.svelte";
    import InputTextArea from "./InputTextArea.svelte";
    import ImageCropper from "./ImageCropper.svelte";
    import {env} from './store.js'
    import {onMount} from 'svelte';
    import UserData from "./models/UserData";
    import {UserService} from "./services/UserService";

    const service = new UserService();

    let globalMessage = "";
    let data = new UserData("", "", "", "", "", "", "", "", "", "", "");
    let validate = new UserData("", "", "", "", "", "", "", "", "", "", "");

    onMount(() => {
        env.location.set(location);
    });

    async function create() {

        if (callValidation(validate) && data.latitude && data.longitude) {
            try {
                data = await service.createProfile(data);
                pop();
            } catch (e) {
                globalMessage = e.message;
            }
        }

    }

    function handleKeydown(event, fn) {
        if (event.keyCode === 13) {
            fn();
        }
    }

</script>

<form on:keydown={(e) => handleKeydown(e, create)}>
    <GlobalMessage message={globalMessage}/>

    <ImageCropper label="Profile" bind:image={data.image} bind:validate={validate.image} required="true"/>
    <div class="row">
        <div class="col-12">
            <InputText bind:value={data.name} name="name" label="Name" required=true bind:validate={validate.name}/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <InputText bind:value={data.firstname} name="firstname" label="Firstname" required=true
                       bind:validate={validate.firstname}/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <InputText bind:value={data.email} name="email" label="Email" required=true email=true
                       bind:validate={validate.email}/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <InputText bind:value={data.password} name="password" label="Password" password=true required=true min=8
                       bind:validate={validate.password}/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <InputTextArea bind:value={data.description} name="description" label="Description" rows="5" max="200"
                           bind:validate={validate.description} required="true"/>
        </div>
    </div>
    <AddressMaps bind:street={data.street} bind:plz={data.plz} bind:city={data.city} bind:longitude={data.longitude}
                 bind:latitude={data.latitude}
                 bind:cityValidation={validate.city} bind:plzValidation={validate.plz}
                 bind:streetValidation={validate.street}/>
    <div class="row mt-4">
        <div class="col-12">
            <button type="button" on:click="{()=>pop()}" class="btn btn-link">Back</button>
            <button type="button" on:click="{()=>create()}" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>

<style>
</style>
