body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.croppie-container .cr-image::before {
	display: none;
}
.cr-image img[alt="preview"]{
	display: none;
}
